body {
  text-align: center;
  border: 12px groove black;
}

div {
  margin-top: 24px;
}

#choiceHeading {
  margin-top: 36px;
}

button {
  font-size: 14px;
  margin-right: 8px;
}

#playerChoice, #cpuChoice {
  font-weight: bold;
}

#results {
  font-style: italic;
}

#endMessage {
  font-size: 24px;
  font-weight: 900;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 24px;
  display: inline-flex;
  align-items: center;
  gap: 16px;
}